.resource-calculator {
  border-top: 3px solid $albionRed;
  border-radius: 0.5rem; 

  width: 35rem;

  padding: 1rem;
  background-color: $albionBlack;

  text-align: center;

  .separator {
    margin: 1rem;
  }

  .resource-calculator-nutrition {
    input[type='number'] {
      width: 4rem;
    }
  }

  .resource-calculator-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0.5rem;
    gap: 1rem;
  }

  .resource-calculator-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .resource-calculator-inputs {
      display: flex;
      flex-direction: row;
      .resource-calculator-input, .resource-calculator-output {
        margin: 0 auto;
      }
    }
    .resource-calculator-ratio {
      .highlight {
        font-size: 1.5rem;
      }
    }
  }
  .resource-calculator-recipe {
    text-align: left;
    .resource-calculator-recipe-input {
      table {
        margin: 0 auto;
        padding: 0.15rem;
        border-top: solid 2px $albionRed;
        border-radius: 0.5rem 0.5rem 0 0;
        * {
          padding: 0.15rem;
        }
      }
      tbody tr:nth-of-type(odd) {
        background-color: lighten($albionBlack, 5);
      }
      tbody tr:last-of-type {
        background-color: $albionRed;
      }
    }
  }
  .resource-calculator-recipe-output {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5rem;
  }
  .resource-calculator-profit {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0.2rem;
    span {
      border-radius: 0.25rem;
      padding: 0.1rem;
    }
  }
  .resource-calculator-recipe-header {
    font-weight: bold;
  }
}

