.main-navigation {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 7.5rem;
  height: 100vh;

  overflow-y: scroll;
  &::--webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  a {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
    border-radius: 5rem;

    background-color: $albionRed;
    color: $albionWhite;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    &:first-of-type {
      font-size: medium;
    }
    
    margin: 1rem auto 0;

    &:hover {
      border-radius: 0.25rem;
    }
    transition: all 0.2s ease-out;
  }
  .active {
    border-radius: 0.25rem !important;
    box-shadow: $albionRed 0px 0px 16px;
  }
  .metal, .wood, .fiber, .stone, .hide {
    background-size: 7rem 7rem;
    background-position: -1rem -0.8rem;
  }
  .metal {
    background-image: url('../images/METAL.png');
  }
  .wood {
    background-image: url('../images/WOOD.png');
  }
  .fiber {
    background-image: url('../images/FIBER.png');
  }
  .stone {
    background-image: url('../images/STONE.png');
  }
  .hide {
    background-image: url('../images/HIDE.png');
  }

  background-color: darken($albionBlack, 10);
}
