* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  background-color: $albionBlack;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url('./images/background.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-view {
  flex-grow: 1;
  width: 100%;
}
.resource-view {
  display: flex;
  flex-direction: row;
  .resource-view-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    .resource-view-header {
      text-align: center;
      font-size: 4rem;
      color: $albionWhite;
      text-shadow: $albionWhite 0px 0px 3px;
      margin: 1.5rem 0;
    }
    .resource-view-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      border-top: 4px solid $albionRed;
      background-color: rgba(lighten($albionBlack, 2), 0.75);

      height: 100%;
      
      padding: 2rem;
    }
  }
}

.help-view {
  display: flex;
  flex-direction: column;
  color: $albionWhite;
  .help-view-header {
    text-align: center;
    font-size: 4rem;
    color: $albionWhite;
    text-shadow: $albionWhite 0px 0px 3px;
    margin: 1.5rem 0;
  }
  .help-view-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    border-top: 4px solid $albionRed;
    background-color: rgba(lighten($albionBlack, 2), 0.75);

    height: 100%;
    
    padding: 2rem;

    .help-view-locations, .help-view-last-update {
      display: flex;
      flex-direction: column;


      color: $albionWhite;
      background-color: darken($albionBlack, 3);
    
      border-top: 3px solid $albionRed;
      border-radius: 0.5rem;
    
      padding: 1rem;
      margin: 1rem;

      gap: 1rem;
      
      ul {
        padding: 0 5rem;
        font-size: xx-large;
        font-weight: bold;
        list-style-type: none;
        li {
          margin-bottom: 0.2rem;
          border-radius: 0.25rem;
        }
      }
    }
    .help-view-locations {
      height: 22.5rem;
    }
    .help-view-last-update{ 
      height: 10rem;
      .help-view-dates {
        border: 2px solid $albionRed;
        border-right: none;
        border-left: none;
        border-radius: 0.25rem;
        padding: 0.5rem;

        p:last-of-type {
          font-size: xx-large;
        }
        text-align: center;
      }
    }
  }
}

#home {
  #hero {
    padding: 8rem 0 16rem;
    h1, h2 {
      text-align: center;
    }
    h1 {
      font-size: 4rem;
      color: $albionWhite;
      text-shadow: $albionWhite 0px 0px 3px;
    }
    h2 {
      font-size: 3rem;
      color: $albionRed;
    }
  
    header {
      width: max-content;
      margin: 0 auto;
      padding: 1rem;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    height: 20rem;
    .sectionImg {
      height: 22rem;
      box-shadow: darken($albionBlack, 10) -12px 12px 24px;
    }

    color: $albionWhite;
    font-size: xx-large;
    background-color: $albionBlack;
    
    padding-left: 15rem;
    padding-right: 15rem;

    &:nth-of-type(2) {
      border-top: 4px solid $albionRed;
    }
    &:nth-of-type(odd) {
      background-color: darken($albionBlack, 4);
      .sectionImg {
        box-shadow: darken($albionBlack, 10) 12px 12px 24px;
      }
      gap: 1rem;
    }
    &:last-of-type {
      border-bottom: 4px solid $albionRed;
    }
  }
  footer {
    height: 5rem;
    background-color: darken($albionBlack, 8);
  }
}